.moneySelector {
  margin: 0 10px;
  width: 40%;
}

.inputSelector {
  border: 0.7px solid gray;
  border-radius: 0.3rem;
}

.container {
  margin-top: 30px;
}

.FromToText {
  font-size: 10px;
  text-align: center;
  margin: 0 10px;
}
